// Colors
$white: #fff;
$black: #333;
$light-gray-bg: #f6f8fa;
$dark-gray: #5b5b5b;
$gray: #8795a1;
$light-gray: #b8c2cc;
$pagination-light-gray: #e9ecef;
$blue: #0098ce;
$dark-blue: #367fa9;
$border-color: #d7d7d7;
$sidenav-link: #b8c7ce;
$red: #ff0000;
$pdf-red: #ff0000;

// Font
$font-family: 'Roboto', Arial, sans-serif;
$font-weight-thin: 300;
$font-weight-normal: 400;
$font-weight-bold: 900;

$default-border-radius: 3px;
$default-box-shadow: 0 4px 15px 1px rgba(0, 0, 0, .1);
