.button {
  align-items: center;
  background-color: $blue;
  border-radius: $default-border-radius;
  border: 1px solid $dark-blue;
  color: $white;
  height: 40px;
  margin-bottom: .5rem;
  padding: 0 10px;
  text-decoration: none;

  &:hover {
    color: $blue;
    background-color: $white;
  }
}
