.sidebar {
  margin-top: 15px;
  text-align: left;

  &__box {
    margin-bottom: 20px;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    &--birth {
      padding-bottom: 10px;
    }
  }

  &__item {
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }

  &__title {
    align-items: center;
    border-bottom: 1px solid $light-gray;
    border-top: 1px solid $light-gray;
    border-right: 1px solid $light-gray;
    border-left: 5px solid $blue;
    display: flex;
    font-size: 1.2rem;
    font-weight: $font-weight-bold;
    margin-bottom: 30px;
    min-height: 50px;
    padding: 0 10px;
    text-transform: uppercase;
  }

  &__text {
    font-size: .8rem;
  }

  &__date {
    color: $dark-gray;
    font-size: .7rem;
    font-weight: $font-weight-normal;
  }

  &__img-container {
    display: table-cell;
    vertical-align: top;
    width: 20%;
  }

  &__img {
    border-radius: 50%;
    max-width: 80px;
  }

  &__content {
    list-style: none;
    margin: 0;
    padding: 0;
    display: table;

    &-date {
      display: block;
      font-size: .8rem;
      margin-top: 10px;
    }

    &-name {
      display: table-cell;
      font-weight: $font-weight-normal;
      line-height: 1.1;
      vertical-align: middle;
      width: 75%;
    }

    &-img {
      border-radius: 50%;
      margin-right: 20px;
      max-width: 40px;
    }
  }
}